{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>

<meta charset="UTF-8"/>

<title>Template restaurant example</title>

<meta name="description" content="">

<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<link rel="stylesheet" href="{% static 'css/theme.css' %}">

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <style>
        /*Todo lo naranja*/
    a,a:hover, .heading h2::first-letter, .restmenuwrap h3.maincat, blockquote:before, blockquote cite, .gototop i {
	/*color:#f8f;*/
        }
        .isFixed .navbar-inverse .navbar-nav>.active>a,.isFixed .navbar-inverse .navbar-nav>.active>a:focus, .isFixed .navbar.navbar-inverse.navbar-static-top a:hover, .footer,  .contact.submit:hover {
	   /*background: red*/
}
        /*boton*/
        .contact.submit {
            /*background: grey*/
        }
        /* header */
        .isFixed, .stuckMenu {
    /*background: #f8f;*/
        }
        /*galeria*/
        .grid figcaption{
         /*   background: #ccc*/
        }
    </style>

</head>
<body>
<!--wrapper start-->
<div class="wrapper" id="wrapper">
	
	<!--header-->
	<header>
	<div class="banner row" id="banner" style="margin-top: 80px;">		
		<div class="parallax text-center" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummy1.jpg);">
			<div class="parallax-pattern-overlay">
				<div class="container text-center" style="height:580px;padding-top:170px;">
					<a href="#"><img id="site-title" class=" wow fadeInDown" wow-data-delay="0.0s" wow-data-duration="0.9s" src="{% static 'img/logo.png' %}" alt="logo"/></a>
					<h2 class="intro wow zoomIn" wow-data-delay="0.4s" wow-data-duration="0.9s">Nombre de la empresa</h2>
				</div>
			</div>
		</div>
	</div>	
	<div class="menu">
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navwrapper">
					<div class="navbar navbar-inverse navbar-static-top">
						<div class="container">
							<div class="navArea">
								<div class="navbar-collapse collapse">
									<ul class="nav navbar-nav">
										<li class="menuItem active"><a href="#wrapper">Inicio</a></li>
										<li class="menuItem"><a href="#aboutus">Nosotros</a></li>
										<li class="menuItem"><a href="#specialties">Especialidades</a></li>
										<li class="menuItem"><a href="#gallery">Galeria</a></li>
										<li class="menuItem"><a href="#feedback">Clientes</a></li>
										<li class="menuItem"><a href="#contact">Contáctanos</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	</header>
		
	<!--about us-->
	<section class="aboutus" id="aboutus">
	<div class="container">
		<div class="heading text-center">
			<img class="dividerline" src="{% static 'img/sep.png' %}" alt="">
			<h2>Nosotros</h2>
			<img class="dividerline" src="{% static 'img/sep.png' %}" alt="">
			<h3>Have you ever felt worried that your party will not raise up to your guest expectations? In design, vertical rhythm is the structure that guides a reader's eye through the content. Good vertical rhythm makes a layout more balanced and beautiful and its content more readable. The time signature in sheet music visually depicts a song's rhythm, while for us, the lines of the baseline grid depict the rhythm of our content and give us guidelines.</h3>
		</div>			
		<div class="row">
			<div class="col-md-6">
				<div class="papers text-center">
					<img src="http://wowthemes.net/demo/leroy/img/dummies/18.jpg" alt=""><br/>
					<h4 class="notopmarg nobotmarg">John Vandeley</h4>
					<p>
						Have you ever felt worried that your party will not raise up to your guest expectations? In design, vertical rhythm is the structure that guides a reader's eye through the content. Good vertical rhythm makes a layout more balanced and beautiful and its content more readable. The time signature in sheet music visually depicts a song's rhythm, while for us, the lines of the baseline grid depict the rhythm of our content and give us guidelines.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="papers text-center">
					<img src="http://wowthemes.net/demo/leroy/img/dummies/19.jpg" alt=""><br/>
					<h4 class="notopmarg nobotmarg">Especialidades</h4>
					<p>
						Have you ever felt worried that your party will not raise up to your guest expectations? In design, vertical rhythm is the structure that guides a reader's eye through the content. Good vertical rhythm makes a layout more balanced and beautiful and its content more readable. The time signature in sheet music visually depicts a song's rhythm, while for us, the lines of the baseline grid depict the rhythm of our content and give us guidelines.
					</p>
				</div>
			</div>
		</div>
	</div>
	</section>
	
	<!--specialties-->
	<section class="specialties" id="specialties">
	<div class="container">
		<div class="heading text-center">
			<img class="dividerline" src="{% static 'img/sep.png' %}" alt="">
			<h2>Especialidades</h2>
			<img class="dividerline" src="{% static 'img/sep.png' %}" alt="">
			<h3>Have you ever felt worried that your party will not raise up to your guest expectations? In design, vertical rhythm is the structure that guides a reader's eye through the content. Good vertical rhythm makes a layout more balanced and beautiful and its content more readable. The time signature in sheet music visually depicts a song's rhythm, while for us, the lines of the baseline grid depict the rhythm of our content and give us guidelines.</h3>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="restmenuwrap">
					<h3 class="maincat notopmarg text-center">APERITIVOS</h3>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/1.jpg)">
						</div>
						<h5>Sweet, Sticky and Spicy Chicken</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/2.jpg)">
						</div>
						<h5>Luxur Oyster</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/3.jpg)">
						</div>
						<h5>Sweet, Sticky and Spicy Chicken</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="restmenuwrap">
					<h3 class="maincat notopmarg text-center">PRINCIPAL</h3>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/4.jpg)">
						</div>
						<h5>Sweet, Sticky and Spicy Chicken</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/5.jpg)">
						</div>
						<h5>Luxur Oyster</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/6.jpg)">
						</div>
						<h5>Sweet, Sticky and Spicy Chicken</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="restmenuwrap">
					<h3 class="maincat notopmarg text-center">POSTRES</h3>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/7.jpg)">
						</div>
						<h5>Sweet, Sticky and Spicy Chicken</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/8.jpg)">
						</div>
						<h5>Luxur Oyster</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/9.jpg)">
						</div>
						<h5>Sweet, Sticky and Spicy Chicken</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	
	<!--gallery-->
	<section class="gallery" id="gallery">
		<div class="container">
			<div class="heading text-center">
				<img class="dividerline" src="{% static 'img/sep.png' %}" alt="">
				<h2>Galería</h2>
				<img class="dividerline" src="{% static 'img/sep.png' %}" alt="">
			</div>
			
			<div id="grid-gallery" class="grid-gallery">

					<section class="grid-wrap">
						<ul class="grid">
							<li class="grid-sizer"></li><!-- for Masonry column width -->				
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/10.jpg" alt=""/>
									<figcaption><h3>Thundercats next level</h3><p>Portland nulla butcher ea XOXO, consequat Bushwick Pinterest elit twee pickled direct. </p></figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/11.jpg" alt=""/>
									<figcaption><h3>Bushwick selvage synth</h3><p>Bicycle rights flannel Shoreditch, art party laboris Bushwick sriracha.</p></figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/12.jpg" alt=""/>
									<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/13.jpg" alt=""/>
									<figcaption><h3>Letterpress asymmetrical</h3><p>Chillwave hoodie ea gentrify aute sriracha consequat.</p></figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/14.jpg" alt=""/>
									<figcaption><h3>Vice velit chia</h3><p>Laborum tattooed iPhone, Schlitz irure nulla Tonx retro 90's chia cardigan quis before they sold out. </p></figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/15.jpg" alt=""/>
									<figcaption><h3>Brunch semiotics</h3><p>Ex disrupt cray yr, butcher pour-over magna umami kitsch before they sold out commodo.</p></figcaption>
								</figure>
							</li>
							
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/16.jpg" alt=""/>
									<figcaption><h3>Brunch semiotics</h3><p>Ex disrupt cray yr, butcher pour-over magna umami kitsch before they sold out commodo.</p></figcaption>
								</figure>
							</li>
							
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/17.jpg" alt=""/>
									<figcaption><h3>Brunch semiotics</h3><p>Ex disrupt cray yr, butcher pour-over magna umami kitsch before they sold out commodo.</p></figcaption>
								</figure>
							</li>
						
						</ul>
					</section><!-- // end small images -->
					
					<section class="slideshow">
						<ul>
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/10.jpg" alt=""/>
									<figcaption><h3>Thundercats next level</h3><p>Portland nulla butcher ea XOXO, consequat Bushwick Pinterest elit twee pickled direct trade vero. </p></figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/11.jpg" alt=""/>
									<figcaption><h3>Bushwick selvage synth</h3><p>Bicycle rights flannel Shoreditch, art party laboris Bushwick sriracha authentic chambray hella umami sed distillery master cleanse.</p></figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/12.jpg" alt=""/>
									<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/13.jpg" alt=""/>
									<figcaption><h3>Letterpress asymmetrical</h3><p>Chillwave hoodie ea gentrify aute sriracha consequat.</p></figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/14.jpg" alt=""/>
									<figcaption><h3>Vice velit chia</h3><p>Laborum tattooed iPhone, Schlitz irure nulla Tonx retro 90's chia cardigan quis asymmetrical paleo. </p></figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/15.jpg" alt=""/>
									<figcaption><h3>Brunch semiotics</h3><p>Ex disrupt cray yr, butcher pour-over magna umami kitsch before they sold out commodo.</p></figcaption>
								</figure>
							</li>
							
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/16.jpg" alt=""/>
									<figcaption><h3>Brunch semiotics</h3><p>Ex disrupt cray yr, butcher pour-over magna umami kitsch before they sold out commodo.</p></figcaption>
								</figure>
							</li>
							
							<li>
								<figure>
									<img src="http://wowthemes.net/demo/leroy/img/dummies/17.jpg" alt=""/>
									<figcaption><h3>Brunch semiotics</h3><p>Ex disrupt cray yr, butcher pour-over magna umami kitsch before they sold out commodo.</p></figcaption>
								</figure>
							</li>
						</ul>
						<nav>
							<span class="icon nav-prev"></span>
							<span class="icon nav-next"></span>
							<span class="icon nav-close"></span>
						</nav>
						<div class="info-keys icon">Navigate with arrow keys</div>
					</section><!-- // end slideshow -->
					
				</div><!-- // grid-gallery -->
			</div>
	</section>
	
	<!--feedback-->
	<section class="feedback" id="feedback">
	<div class="container w960">
		<div class="heading">
			<img class="dividerline" src="{% static 'img/sep.png' %}" alt="">
			<h2>Opiniones de clientes</h2>
			<img class="dividerline" src="{% static 'img/sep.png' %}" alt="">
			<h3>Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat.<br>
			 Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt in. Sed tincidunt tristique enim sed sollcitudin.</h3>
		</div>
		<div class="row">
		<blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages." <cite>Jogn De, Birthday Event<br/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></cite> </blockquote>
		<blockquote>Have you ever felt worried that your party will not raise up to your guest expectations? In design, vertical rhythm is the structure that guides a reader’s eye through the content. Good vertical rhythm makes a layout more balanced and beautiful and its content more readable. The time signature in sheet music visually depicts a song’s rhythm, while for us, the lines of the baseline grid depict the rhythm of our content and give us guidelines. <cite>Marta Kay, Business Cocktalil<br/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></cite> </blockquote>
		</div>
	</div>
	</section>
	
	<!--feedback-->
	<section class="contact" id="contact">
	<div class="container">
		<div class="heading">
				<img class="dividerline" src="{% static 'img/sep.png' %}" alt="">
				<h2>Contáctanos</h2>
				<img class="dividerline" src="{% static 'img/sep.png' %}" alt="">
				<h3>Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat.<br>
				 Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt in. Sed tincidunt tristique enim sed sollcitudin.</h3>
		</div>
	</div>
	 <div class="container w960">
      <div class="row">
		<div class="done">
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				Tu mensaje ha sido enviado con éxito, gracias. 
			</div>
		</div>
       <form method="post" action="contact.php" id="contactform">
          <input name="name" type="text" class="contact col-md-6" placeholder="Nombre Completo" >
          <input name="email" type="email" class="contact noMarr col-md-6" placeholder="Correo electrónico" >
          <textarea name="comment" class="contact col-md-12" placeholder="Mensaje"></textarea>
          <input type="submit" id="submit" class="contact submit" value="Enviar mensaje">
        </form>
      </div>
    </div>
	</section>
  
	<!--footer-->
	<section class="footer" id="footer">
	<p class="text-center">
		<a href="#wrapper" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
	</p>
	<div class="container">
		<ul>
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			<li><a href="#"><i class="fa fa-flickr"></i></a></li>
		</ul>
		<p>Copyright &copy; 2016 - Todos los derechos reservados <a href="http://www.teamussolutions.com">TemUs Solutions</a></p>
	</div>
	</section>
	
</div><!--wrapper end-->

<!--Javascripts-->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/menustick.js' %}"></script>
<script src="{% static 'js/parallax.js' %}"></script>
<script src="{% static 'js/easing.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/masonry.js' %}"></script>
<script src="{% static 'js/imgloaded.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/colorfinder.js' %}"></script>
<script src="{% static 'js/gridscroll.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>

<script type="text/javascript">
jQuery(function($) {
$(document).ready( function() {
  //enabling stickUp on the '.navbar-wrapper' class
	$('.navbar-wrapper').stickUp({
		parts: {
		  0: 'banner',
		  1: 'aboutus',
		  2: 'specialties',
		  3: 'gallery',
		  4: 'feedback',
		  5: 'contact'
		},
		itemClass: 'menuItem',
		itemHover: 'active',
		topMargin: 'auto'
		});
	});
});
</script>
</body>
</html>